input#s {
    min-width: 80%;
    margin-right: 10px;
}
body {
    margin-bottom: 60px;
}
.wrap {
    max-width: 600px;
    margin: auto;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}